{% extends 'base.html' %}
{% load static %}

{% block basecss %}
{{block.super}}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock basecss %}

{% block content %}
<div class="row mt-3">
    <a href="{% url 'workflow' %}">Back</a>
</div>
<div class="mt-5 login-container">
    <h4>Office User List</h4>
    <div class="mt-3 mb-3">
        <div class="col-md-4"><a href="{% url 'add_user' %}">Create User</a></div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% if user_list %}
            {% for i in user_list %}
            <tr>
                <td>{{i.display_name}}</td>
                <td>{{i.first_name}} {{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td><a href="{% url 'edit_user' i.ext_id %}">Edit</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}