{% extends 'base.html' %}
{% load static %}

{% block basecss %}
{{block.super}}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock basecss %}

{% block content %}
<div class="row mt-3">
    <a href="{% url 'workflow' %}">Back</a>
</div>
<div class="mt-5 login-container">
    <h4>Tournament List</h4>
    <div class="mt-3 mb-3"><a href="{% url 'add_tournament' %}">Add Tournament</a></div>
    {% if tournament_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sport</th>
                <th>Created By</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Matches</th>
            </tr>
        </thead>
        <tbody>
            {% for i in tournament_list %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.sport__name}} </td>
                <td>{{i.created_by__display_name}}</td>
                <td>{{i.active}}</td>
                <td><a href="{% url 'edit_tournament' i.ext_id %}">Edit</a></td>
                <td><a href="{% url 'list_match' i.ext_id %}">Manage Matches</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>No Active Tournaments Found</div>
    {% endif %}
</div>
<div class="mt-5"><a href="{% url 'list_inactive_tournament' %}">List Inactive Tournaments</a></div>

{% endblock %}