{% extends 'base.html' %}
{% load static %}

{% block basecss %}
{{block.super}}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock basecss %}

{% block content %}
<div class="row mt-3">
    <a href="{% url 'list_tournament' %}">Back</a>
</div>
<div class="mt-4 login-container">
    <h4>Active Match List : {{tournament.name}}</h4>
    <div class="mt-4 mb-4"><a href="{% url 'add_match' tournament.ext_id %}">Add Match</a></div>
    {% if match_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Match Time</th>
                <th>Created By</th>
                <th>Team A</th>
                <th>Team B</th>
                <th>Winner</th>
                <th>Distribute Rewards</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for i in match_list %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.match_start_time}}</td>
                <td>{{i.created_by__display_name}}</td>
                <td>{{i.teamA__name}}</td>
                <td>{{i.teamB__name}}</td>
                {% if i.winner__name %}
                <td>{{i.winner__name}}</td>
                {% if i.bet_settled %}
                <td>Distributed</td>
                {% else %}
                <td><a href="{% url 'distribute_rewards' tournament.ext_id i.ext_id %}">Distribute Rewards</a></td>
                {% endif %}
                {% else %}
                <td><a href="{% url 'choose_winner' tournament.ext_id i.ext_id %}">Choose</a></td>
                <td>No Winner</td>
                {% endif%}
                <td><a href="{% url 'edit_match' tournament.ext_id i.ext_id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>No Active Matches Found</div>
    {% endif %}
</div>
<div class="mt-5"><a href="{% url 'list_inactive_match' tournament.ext_id %}">List Inactive Matches</a></div>
{% endblock %}